/* Colors */
$clr-background: hsl(0, 0%, 8%);
$clr-background-2: hsl(0, 0%, 12%);
$clr-primary-1: hsl(158, 50%, 20%);
$clr-primary-2: hsl(158, 50%, 30%);
$clr-primary-3: #339974;
$clr-white: white;
$clr-gray: #555;
$clr-lightgray: #999;

/* Sizes */
$size-1: 1.5rem;
$size-normal: 1.2rem;

@media (width < 600px) {
    $size-1: 1rem;
    $size-normal: .8rem;
}

/* Speeds */
$speed-fast: 125ms;
$speed-medium: 250ms;