@use 'lib';
@use 'variables' as *;

:host {
    @extend .page;
    display: block;
    position: relative;
    height: fit-content;
    background-color: $clr-background;
}

#nav-background {
    position: sticky;
    top: 0;
    background-color: $clr-background;
    height: 120px;
    transition: $speed-medium ease-in-out;

    &.hidden {
        top: -100%;
    }
}

#scroll-up {
    position: sticky;
    bottom: 20px;
    height: 40px;
    border-radius: 999px;
    transition: $speed-fast ease-in-out;
    margin: 0 25px 25px auto;
    
    app-icon {
        height: 100%;
        color: $clr-primary-3;
    }
    
    &:hover {
        background-color: $clr-primary-3;

        app-icon {
            color: $clr-background
        }
    }
}