@use 'variables' as *;
@use 'lib';

:host {
    display: block;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none;
    
    &.hidden > #wrapper {
        top: -100%;
    }
}

#wrapper {
    $height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    margin-top: calc(50vh - ($height / 2));
    transition: top $speed-medium ease-in-out;
    z-index: 10;
}

// #wrapper::before {
//     content: "";
//     position: absolute;
//     inset: 0;
//     background-color: $clr-background-2;
//     z-index: -1;
// }

nav {
    color: $clr-white;
    width: 100%;
    pointer-events: all;
    z-index: 30;
}

button {
    font-size: $size-1 * 1.2;
    transition: $speed-fast ease-in-out;
    white-space: nowrap;
    position: relative;

    &::after {
        content: "";
        height: 3px;
        @extend .round;
        width: 0;
        transition: width $speed-fast;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $clr-white;
    }

    @media (hover: hover) {
        &:hover {
            font-weight: 700;
    
            &::after {
                width: 100%;
            }
        }
    }

    &.active {
        // background-color: $clr-primary-2;
        color: $clr-white;
        font-weight: 700;

        &::after {
            width: 100%;
            background-color: $clr-primary-3;
        }
    }
}

#logo {
    white-space: nowrap;
    font-size: 90px;
    font-weight: 700;
}

app-social-media {
    translate: 0 min(calc(var(--parallax) * 1px), 90px);
    position: absolute;
    inset: auto 0 200%;
}
