<div id="wrapper" class="p-0-20">
  <div class="page-title">Die Band</div>
  <p class="pb-20 m-auto">
    Karl Max ist eine (gesellschafts-)kritische Wiener Band mit verschiedensten musikalischen Einflüssen.<br /><br />Gegründet
    wurde die Gruppierung von <span class="highlight">Maximilian Wölfl</span> (Gesang
    <app-icon name="microphone"></app-icon>, E-Bass <app-icon name="bass"></app-icon>). Live wird diese unterstützt
    von <span class="highlight">Tarik Uyan</span> (E-Gitarre <app-icon name="guitar"></app-icon>),
    <span class="highlight">Jakob Lindorfer</span> (Schlagzeug <app-icon name="drums"></app-icon>) und
    <span class="highlight">Maximilian Pircher</span> (Backgroundgesang <app-icon name="microphone"></app-icon>,
    Synthesizer <app-icon name="keytar"></app-icon>).<br /><br />
    Inspiriert von vielen Genres, veröffentlichte die Band schon mehrere Produktionen in den Bereichen Hard-Rock,
    Hip- Hop, Pop, Fusion sowie Weitere.<br /><br />
    Ihr Ziel ist es, zeitgenössische Themen mit progressiven Texten zu durchleuchten.
  </p>

  <!-- <p>
    Karl Max der Name. Wir lieben Tacheles, Hard Rock und Schnulzen!<br /><br />Kerzenwachs? Und Karl Max? Was
    diese beiden gemeinsam haben, ist doch ganz klar! Sie sind beide zum Dahinschmelzen.<br /><br />Ein bisserl
    Zucker. Ein bisserl Salz. Ein Schuss Gesellschaftskritik und voilá: Schon kann Karl Max sein intensives Aroma
    entfalten.<br /><br />Ich glaube daran, dass das Leben mehr zu bieten hat als AMS und existenzielle Angst. Karl
    Max ist es sich wert, an den eigenen Träumen festzuhalten.<br /><br />Was hat es mit dem Adelsaufhebungsgesetz
    und dem Prekariat auf sich? Und wieso haben wir zu wenig Geld am Konto? All diesen Fragen und vielen mehr
    widmet sich Karl Max in seiner Musik!<br /><br />Karl Max: ‚Weils eh scho wurscht is’<br /><br />
    Kein Geld? Keine Perspektive? Aber dafür Träume und Musik! So greift Karl Max klassische Themen wie soziale
    Ungleichheit und Gesellschaftskritik in seinen Liedern auf!
  </p> -->
</div>
