@use 'variables' as *;

#wrapper {
    overflow: hidden;
    position: relative;
}

#content {
    height: 100vh;
    overflow: hidden;
    background: url("../../../../public/img/banner.webp") center/cover no-repeat;
    translate: 0 min(calc(var(--parallax) * 1px), 100vh);
}

#scroll-down {
    writing-mode: sideways-rl;
    position: absolute;
    inset: auto 0 0 auto;
    font-size: $size-normal;
        
    app-icon {
        margin: $size-1;
        height: 50px;
}
}
